@import "./../../global/styles/global.scss";

$search-height: 11rem;

.Autocomplete {
  width: calc(100% - #{$component-padding * 2});
  max-width: $desktop-max-width;
  height: 11rem;
  position: relative;
  margin-top: 4rem;

  @media (min-width: $breakpoint-tablet) {
    margin-top: 10rem;
  }
}

.AutocompleteSearch {
  @extend %component-box-shadow;
  padding: 2rem;
  margin: auto;
  width: calc(100% - #{$component-padding * 2});

  &__TitleWrapper {
    width: 100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  &__Title {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__InputWrapper {
    margin-bottom: auto;
    width: 100%;
  }

  &__Input {
    font-size: 1.6rem;
    padding: 2rem;
    border: 0.1rem solid $grey-2;
    background: none;
    appearance: none;
    border-radius: 0.4rem;
    width: calc(100% - #{$component-padding * 2});
  }
}

.AutocompleteResults {
  @extend %subtle-scroll;
  @extend %component-box-shadow;
  position: absolute;
  left: $component-padding;
  top: $search-height + $component-padding;
  width: calc(100% - #{$component-padding * 4});
  padding: $component-padding;
  max-height: 30rem;
  overflow-y: auto;
  border: 0.2rem solid $brand-primary;

  &__StationList {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__StationItem {
    line-height: 2.8rem;
    font-size: 1.6rem;
    margin-bottom: 1.2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__StationButton {
    appearance: none;
    border: none;
    outline: none;
    color: $black;
    background-color: change-color($brand-secondary, $alpha: 0.4);
    border: 0.1rem solid $brand-secondary;
    font-size: 1.6rem;
    border-radius: 0.4rem;
    padding: 0.6rem 1rem;
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1),
      box-shadow 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateY(0);
    box-shadow: change-color($color: $black, $alpha: 0) 0 0 0 0;

    &:hover {
      box-shadow: change-color($color: $black, $alpha: 0.1) 0 0.3rem 0 0;
      transform: translateY(-0.3rem);
    }

    &:focus {
      transform: translateY(0);
      box-shadow: 0 0 0 0.2rem change-color($color: $brand-primary, $alpha: 0.8);
    }
  }
}

.AutocompleteStations {
  @extend %subtle-scroll;
  @extend %component-box-shadow;
  padding: $component-padding;
  max-height: 34rem;
  overflow-y: auto;
  width: calc(100% - #{$component-padding * 2});
  margin-top: $component-padding;

  &__StationHeader {
    margin-bottom: 2rem;
  }

  &__StationName {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__JourneyDirection {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 1rem;
    border-radius: 0.4rem;
    color: $white;
    background-color: $black;
    padding: 0.6rem;
    display: inline-block;
  }

  &__Time {
    color: $grey-3;
  }

  &__TimesItem {
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    border-bottom: 0.1rem solid
      change-color($color: $brand-primary, $alpha: 0.3);
    font-size: 1.6rem;
    line-height: 1.6;

    &:last-child {
      border-bottom: none;
    }
  }

  &__DepartureTime {
    border-radius: 0.4rem;
    padding: 0.6rem;
    background-color: $brand-primary;
    color: $white;
    margin-right: 1rem;
    font-weight: 800;
    display: inline-block;
    line-height: initial;

    @media (min-width: $breakpoint-tablet) {
      display: inline;
    }
  }

  &__Departing {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }

  &__Arriving {
    margin-left: 0.6rem;
  }
}

.AutocompleteWarning {
  background-color: $brand-primary;
  padding: $component-padding;
  border-radius: 0.4rem;

  &__Message {
    font-size: 1.6rem;
    color: $white;
  }
}

.AutocompleteError {
  @extend %component-box-shadow;
  padding: $component-padding;
  margin-top: $component-padding;
  width: 100%;
  background-color: $error-text;

  &__Message {
    font-size: 1.6rem;
    color: $white;
  }
}
