@import "./../../global/styles/global.scss";

@keyframes placeHolderShimmer {
  0% {
    background-position: -48rem 0;
  }
  100% {
    background-position: 48rem 0;
  }
}

%animated-background {
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f6f6;
  background: linear-gradient(to right, #f6f6f6 8%, #f0f0f0 18%, #f6f6f6 33%);
  background-size: 80rem 10.4rem;
  height: 9.6rem;
  position: relative;
}

.Loader {
  display: flex;
  padding-top: $component-padding;
  flex-direction: column;

  &__Item {
    display: flex;
    margin-bottom: 2.6rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__Text {
    @extend %animated-background;

    &--Long {
      height: 1.4rem;
      width: 40rem;
      margin: 0 0 1.2rem;
    }

    &--Medium {
      height: 1.4rem;
      width: 32rem;
      margin: 0 0 1.2rem;
    }

    &--Short {
      height: 1rem;
      width: 26rem;
      margin: 0 0 1.2rem;
    }
  }
}
