@import "./variables.scss";

// Placeholder selectors
%subtle-scroll {
  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 1rem;
    background-color: change-color($black, $alpha: 0.01);
  }

  &::-webkit-scrollbar-thumb {
    background-color: change-color($black, $alpha: 0.3);
  }
}

%component-box-shadow {
  background-color: $white;
  border-radius: 0.4rem;
  box-shadow: $component-box-shadow;
}
