// Colours
$white: #fff;
$grey-1: #f3f3f3;
$grey-2: #d3d3d3;
$grey-3: #6e6e6e;
$black: #000;
$brand-primary: #005fcc;
$brand-secondary: #19dabe;
$warning-text: #fe9903;
$error-text: #cc0000;

// Grid
$desktop-max-width: 60rem;

// Spacing
$component-padding: 2rem;

// Effects
$component-box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.05);

// Media queries
$breakpoint-tablet: 768px;
