@import "./../global/styles/global.scss";

.PageTemplate {
  background-color: $grey-1;
  margin: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  width: 100%;

  @media (min-width: $breakpoint-tablet) {
    width: calc(100% - #{$component-padding * 2});
    padding-left: $component-padding;
    padding-right: $component-padding;
  }
}
